<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Conversation</key>
	<array>
		<array>
			<string>SpotId</string>
			<string>Cell</string>
		</array>
		<array>
			<string>PostId</string>
			<string>Cell</string>
		</array>
		<array>
			<string></string>
			<string>SwitchCell</string>
		</array>
	</array>
	<key>Conversation iFrame</key>
	<array>
		<array>
			<string>SpotId</string>
			<string>Cell</string>
		</array>
		<array>
			<string>PostId</string>
			<string>Cell</string>
		</array>
		<array>
			<string></string>
			<string>SwitchCell</string>
		</array>
		<array>
			<string>Demo URL</string>
			<string>Cell</string>
		</array>
	</array>
</dict>
</plist>
